<% if user_signed_in? %>

	<p>
	  <strong>Title:</strong>
	  <%= @article.title %>
	</p>

	<p>
	  <strong>Text:</strong>
	  <%= @article.text %>
	</p>

	<%= link_to 'Edit', edit_article_path(@article) %> |
	<%= link_to 'Back', articles_path %>
<% else %>
    <li><%= link_to("Connexion", new_user_session_path) %></li>
    <li><%= link_to("Inscription", new_user_registration_path) %></li>
<% end %>
